@import "tailwindcss";
/* @import "./typography.css"; */

@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates"),
    url(./fonts/MontserratAlternates-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates"),
    url(./fonts/MontserratAlternates-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates"),
    url(./fonts/MontserratAlternates-Bold.ttf);
  font-weight: bold;
}

html {
  font-family: "Montserrat Alternates";

}

@theme {
  --animate-opacity: opacity 0.5s ease-in-out;
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/* @import './base.css'; */

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
